.sticks {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 350px;
  top: 309px;
  left: 50%;
  transform: translate(-50%, 0px);
}

.stick {
  background-image: url("../../../assets/ps4/white/sticks.svg");
  /* A third of images width */
  width: 94px;
  height: 94px;
  transition: transform 0.15s;
}

.stick.left,
.stick.right {
  background-position-x: left;
}

.stick.left.pressed {
  background-position-x: center;
}

.stick.right.pressed {
  background-position-x: right;
}
