.faces {
  display: flex;
  position: absolute;
  top: 160px;
  right: 70px;
  width: 170px;
  height: 170px;
}

.face {
  position: absolute;
  background-image: url("../../../assets/ps4/white/face.svg");
}

.face.up,
.face.down,
.face.left,
.face.right {
  width: 56px;
  height: 56px;
}

.face.up {
  background-position: 56px 56px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.face.down {
  background-position: 224px 56px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.face.left {
  background-position: 112px 56px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.face.right {
  background-position: -56px 56px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
