.dpad-container {
  display: flex;
  position: absolute;
  top: 180px;
  left: 90.5px;
  width: 127px;
  height: 126px;
}

.dpad {
  position: absolute;
  background-image: url("../../../assets/ps4/white/dpad.svg");
}

.dpad.up,
.dpad.down {
  width: 36px;
  height: 53px;
}

.dpad.left,
.dpad.right {
  width: 53px;
  height: 37px;
}

.dpad.up {
  background-position: 141px 53px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dpad.down {
  background-position: 179px 53px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dpad.left {
  background-position: 105px 53px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dpad.right {
  background-position: 53px 53px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
