#root {
  margin: 0 auto;
  text-align: center;
}

.rocket-input-controller-demo {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  position: absolute;
  z-index: 100;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.buttons > :not(:first-child) {
  margin-left: 1rem;
}

.operator {
  position: absolute;
  right: 5rem;
  bottom: 0;
  scale: 0.5;
  transform: translate(50%, -70%);
}

label {
  font-weight: bold;
  text-transform: capitalize;
}

select {
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

button[type="submit"] {
  width: 16rem;
  background-color: #282b66;
}
